auto-save-list
recentf
elpa
awesome-tab
*~
\#*\#
.lsp-session-v1
transient
tutorial
eln-cache
bookmarks 
places
projects 
.lsp-session-v1
history
cnfonts
eaf
eshell
site-lisp
.last-package-update-day
test_config.el
